// app global css

body {
  background-color: #2A3139;
}

#serverIP{
  margin-bottom: 2em;
}

.testOutput {
  color: red;
}

.demo {
  color: blue;
}

.lightText{
  color: white;
}

.label{
  margin-right: 1em;
  width: 10em;
}

@font-face {
  font-family: 'titilliumregular';
  src: url('/statics/fonts/titillium-regular.otf') format('opentype'),
    url('/statics/fonts/titillium-regular-webfont.woff2') format('woff2'),
    url('/statics/fonts/titillium-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  background-color: #ebebeb;
  font-family: 'titilliumregular';
  /* Disable text selection */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
